</main>

<footer class="mt-auto">
    <div class="bg-gray-100 mx-auto">
        <div class= "flex items-center justify-center">
            <p>Copyright ©Joe Rinaldi <%= new Date().getFullYear() %></p>
        </div>
    </div>
</footer>
<script type="text/javascript" src="client/scripts.js"></script>
</body>
</html>